h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  border: 3px solid #0000ff;
  width: 50%;
}

p {
  background-color: #000000;
  color: #ffffff;
}

span {
  font-size: 40px;
  font-family: "Comic Sans MS";
  color: #ffff00;
  text-decoration: underline;
  text-transform: uppercase;
}

ul {
  font-size: 30px;
  list-style: none;
}

ol {
  font-size: 30px;
  list-style: upper-roman;
  margin-left: 20px;
}

.conteudo {
  margin-left: 1rem;
}

#titulo-principal {
  margin-left: 5rem;
}

/* Explicando Cascade e especificidade */

.titulo-pagina {
  font-size: 5rem;
  border: 5px solid red;
  color: red;
}

.titulo {
  border-style: dashed;
  color: green;
}