body {
  background-color: #dcdcdc;
}

h1 {
  background-color: #ffffff;
  color: #3d3741;
  text-align: center;
}

h2 {
  margin: 0;
}

.artigo {
  background-color: #bebebe;
  margin: 5px 20px 0 20px;
  padding: 0 10px 1px 10px;
  /* border: 1px solid; */
}

.artigo-curto {
  background-color: #bebebe;
  max-width: 20rem;
  margin: 5px auto;
  padding: 0 10px 1px 10px;
  border: 1px solid;
}